body {
	background-color: #cccccc;
	font-family: sans-serif;
	margin: 0;
}

.parallax {
	min-height: 800px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.founded {
	font-size: 25px;
	text-align: left;
}

.brewery-container {
	margin-top: 1rem;
}

.container-fluid {
	padding: 0;
}

.center {
	text-align: center;
}
.homePage {
	padding: 0px 30px;
}
.breweryPage {
	padding: 0px 15px;
}
.homepage img{
	display: inline-block;
	width: auto;
}
.brewery img {
	display: inline-block;
	width: 100%;
}

h2 {
	font-size: 25px;
	font-family: "Arial";
	text-align: center;
}

h2 a {
	color: black;
}

h2 a:hover {
	color: white;
	text-decoration: none;
}

h3 {
  	font-size: 22px;
  	font-family: "Arial";
	text-align: center;
}

#homepage div {
	float: left;
	word-wrap:normal;

}
.fullPage {
	width: 100%;
}

ul {
	padding-left: 25px;
}

li {
	padding: 10px;
}

li a {
	color: #ffffff;
	text-decoration: none;
	list-style: none;
}

li a:hover {
	text-decoration: underline;
}

.park-div {
	
}

.text-div {
	display: inline-block;
	width: 500px;
	vertical-align: top;
}