body {
	background-color: #cccccc;
	font-family: sans-serif;
	margin: 0;
}

.container-fluid {
	padding: 0;
}

.center {
	text-align: center;
}

.img-div {
	display: inline-block;
	width: 296px;
	height: 418px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 0px;
	margin-left: 28px;
/*	border: 5px solid #000000; */
}

h2{ 
	font-size: 25px;
	font-family: "Arial";
	text-align: center;
}

h2 a {
	color: black;
}

h2 a:hover {
    color: white;
    text-decoration: none;
}


/* Style From Previous Project */

header img {
	height: 110px;
}

.fullPage {
	width: 100%;
}

ul {
	padding-left: 25px;
}

li {
	padding: 10px;
}

li a {
	color: #ffffff;
	text-decoration: none;
	list-style: none;
}

li a:hover {
	text-decoration: underline;
}

.park-div {
	
}

.text-div {
	display: inline-block;
	width: 500px;
	vertical-align: top;
}

.park-name {
	font-size: 26px;
	margin-top: 15px;
}

.park-name a {
	color: black;
	text-decoration: none;
}

.park-name a:hover{
	background-color: black;
	color: white;
	padding: 5px;
	border-radius: 10px;
}

.homePage-image {
	width: 475px;
	height: 350px;
	border-radius: 15px;
}

detailPageImageDiv {
	background-size: cover;
	height: 200px;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.detailPageImage {
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
	border-radius: 15px;
}