body {
	padding-top: 75px;
	background-color: #1F1F1F;
	font-family: sans-serif;
	margin: 0;
}
.navbar navbar-inverse{
	position: fixed;
	width: 100%;
	top: 0px;
	overflow: hidden;
	color: #e6e6e6;
}
.nav navbar-nav navbar-right ul{
	width: 25%;
}

.table-bg{
	background-color: white;
	padding: 2em;
	border-radius: 25px;
	
}

.jumbotron {
	min-height: auto;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-buttons button{
	min-width: 140px;
}

.founded {
	font-size: 25px;
	text-align: center;
}
#brewery-details {
	background-color: rgba(255,255,255, 0.75);
	width: 75%;
	padding-bottom: 30px;
	border-radius: 25px;
}
.brewery-text{
	text-align: center;
}
.brewery-container {
	margin-top: 1rem;
	padding-right: 30px;
	padding-left: 30px;
}

.container-fluid {
	padding: 0;
}

.center {
	text-align: center;
}
.homePage {
	padding: 0px 30px;
}
.breweryPage {
	padding: 0px 15px;
}
.brewery{
	color: #ffffff;
}
.homepage img{
	display: inline-block;
	width: auto;
}
.brewery img {
	display: inline-block;
	width: 100%;
}
#title-text{
	color: #e6e6e6;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	text-shadow: 1px 0 #737373,0 0px #737373,1px 0 #737373,0 0px #737373;
}
#featured{
	color: #e6e6e6;
	font-size: 24px;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	text-shadow: 1px 0 #737373,0 0px #737373,1px 0 #737373,0 0px #737373;
}
h2 {
/* 	color: #e6e6e6; */
/* 	font-size: 30px; */
/* 	font-family: 'Exo 2', sans-serif; */
	text-align: center;
/* 	text-shadow: 1px 0 #737373,0 0px #737373,1px 0 #737373,0 0px #737373; */
}

h2 a {
	color: black;
}

h2 a:hover {
	color: white;
	text-decoration: none;
}

h3 {
	color: black;
  	font-size: 22px;
  	font-family: "Arial";
	text-align: center;
}

.btn-beerDetail {
	background-color: #606060;
	color:#fff;
}

#homepage div {
	float: left;
	word-wrap:normal;
}
.fullPage {
	width: 100%;
}

ul {
	padding-left: 25px;
}

li {
	padding: 10px;
}

li a {
	color: ##3D4747;
	text-decoration: none;
	list-style: none;
}

li a:hover {
	text-decoration: underline;
}

.text-div {
	display: inline-block;
	width: 500px;
	vertical-align: top;
}